{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Training"
  },
  html: "This is not a real service. It has been created for accessibility training purposes only."
}) }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Department for sustenence",
        href: "#"
      },
      {
        text: "Claim lunch expenses"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">We've received your claim and receipts and sent you a confirmation email.</p>
      <p>
      <p class="govuk-body">Once your reciepts are uploaded should receive a decision within 5 working days.</p>
      <p>
        <a class="govuk-button" href="/account2">Your Tasks</a>
      </p>


    </div>
  </div>

{% endblock %}
